.header{
    height:7rem;
    background-color: var(--color-white);
    border-bottom: var(--line);
    font-size: 1.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(bp-smaller) {
    flex-wrap: wrap;
    height: 11rem;
    align-content: space-around;
    }
}

//  LOGO
.logo{
    height: 3.25rem;
    margin-left: 2rem;
}