.overview {

    display: flex;
    border-bottom: var(--line);
    align-items: center;


    &__stars {
        margin-right: auto;
        display: flex;
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);

        @include respond(bp-smallest) {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &__location {
        font-size: 1rem;
        display: flex;
        align-items: center;
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        margin-left: 3rem;
        color: var(--color-white);
        padding: 0 2.25rem;

        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include respond(bp-small) {
            padding: 0 1.5rem;
        }

        @include respond(bp-smallest) {
            padding: 0 1rem;
        }
    }

    &__rating-average {
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: -3px;

        @include respond(bp-small) {
            font-size: 1.8rem;
        }

        @include respond(bp-smallest) {
            font-size: 1.5rem;
        }
    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;

        @include respond(bp-small) {
            font-size: .5rem;
        }
        
    }

}