// SIDEBAR

.side-nav{

&__item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform .2s,
                width .4s cubic-bezier(1,0,0,1).2s,
                background-color .1s;
}

&__item:hover::before,
&__item--active::before{
    transform: scaleY(1);
    width: 100%;
}

&__item:active::before {
    background-color: var(--color-primary-light);
}

}