body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
}

.overview__heading {
    font-size: 2.5rem;
    font-weight: 300rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @include respond(bp-small) {
        font-size: 1.8rem;
        padding: 1.25rem 2rem;
    }
    @include respond(bp-smallest) {
        font-size: 1.5rem;
        padding: 1rem 1.5rem;
        width: 30%;
    }
}

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;

}

.cta__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;

    @include respond(bp-smallest) {
        font-size: 1.5rem;
    }
}